nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 35px;
    margin:  4px 0;
padding: 20px;

}
nav ul li a{
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.logo img{
    width: 135px;
    padding-left: 70px;
}
button{
    padding: 10px 20px;
    border: none;
    background-color: #1722ea;
    color: hsl(0, 0%, 100%);
    font-weight: 100;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    margin-right: 20px;
}
.btn-primary {
 /* all button styles */
 }







